:root{
    --background-color: #ffffff;
    --text-color: #111827;
    --hard-color: #c98f8f;
    --soft-color: #e7c7c6;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

*{
    scroll-behavior: smooth;
}

.login-form {
    margin-top: 50px;
    width: 21rem;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: #e7c7c6;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #444;
    text-transform: uppercase;
}

.form-group label {
    color: #555;
    font-weight: 500;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #6c757d;
    box-shadow: none;
}

.btn {
    background-color: #d3a2a1;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 2px var(--shadow-color);
    transition: box-shadow 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: 0 7px 2px var(--shadow-color);
    background-color: var(--background-color);
}

.login-forgot-password {
    margin-top: 20px;
    text-align: start;
    font-size: 14px;
    color: #777;
}

